.text-center {
  text-align: center;
}
.force-center {
  float: none !important;
  margin-left: auto;
  margin-right:auto;
}

.ember-application {
  padding-top: 46px;
}

form {
  .input-group {
    margin-bottom: 10px;
  }
}
// =======================================
// Logger
// =======================================

.login-form-container {
  margin-top: 15vh;
}

input[type="date"] {
  display:block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 35px;
}

.link-follower-parent {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.link-follower-parent > li {
  text-align: center;
  i {
    display: block;
  }
}

.btn-group {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-group.count-5 {
  width: 100%;
  .btn + .btn {
    margin-left: 0;
  }
  & > label {
    width: 20%;
  }
}

// =======================================
// Tabbar Nav
// =======================================
nav.navbar-fixed-bottom {
  padding: 4px;
  padding-bottom: 0;
  .navbar-nav {
    a.nav-link {
      padding: 0;
      font-size: 14px;
    }
  }
}

.container.bottom-navbar {
  padding-bottom: 75px;
}

// =======================================
// Stat Block
// =======================================
.stat-row {
  padding: 0 0 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stat-title {
  margin: 16px 0 0 0;
  text-align: center;
  border-bottom: 1px solid;
}

.stat-block {
  text-align: center;
  padding: 4px 0 8px 0;
  & > h1, & > h2 {
    margin-bottom: 0;
    color: $brand-info;
    font-size: 25px;
  }
  & > h6 {
    margin-top: 0;
  }
}
