<div class="row">
  <div class="col-xs-6">
    <h5 class="stat-title">This Year</h5>
  </div>
  <div class="col-xs-6">
    <h5 class="stat-title">This Month</h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="stat-row">
      <div class="stat-block">
        <h1>450</h1>
        <h6>Hours</h6>
      </div>
      <div class="stat-block">
        <h1>200</h1>
        <h6>Workouts</h6>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="stat-row">
      <div class="stat-block">
        <h1>45</h1>
        <h6>Hours</h6>
      </div>
      <div class="stat-block">
        <h1>20</h1>
        <h6>Workouts</h6>
      </div>
    </div>
  </div>
</div>
{{logger-form workoutTypes=model}}
