<div class="container bottom-navbar">
  {{outlet}}
</div>

{{#links-with-follower class="navbar navbar-light bg-faded navbar-fixed-bottom"}}
  {{#link-to 'home.workouts' tagName='li' class='nav-item'}}
    <a class="nav-link">
      <i class="fa fa-database fa-1-5x" aria-hidden="true"></i>
      Workouts
    </a>
  {{/link-to}}
  {{#link-to 'home.logger' tagName='li' class='nav-item'}}
    <a class="nav-link">
      <i class="fa fa-plus fa-1-5x" aria-hidden="true"></i>
      Logger
    </a>
  {{/link-to}}
  {{#link-to 'home.settings' tagName='li' class='nav-item'}}
    <a class="nav-link">
      <i class="fa fa-user fa-1-5x" aria-hidden="true"></i>
      Profile
    </a>
  {{/link-to}}
{{/links-with-follower}}
