<div class="container">
  <div class='login-form-container'>
    <center><h1>Welcome Back</h1></center>
    <form {{action 'authenticate' on='submit'}}>
      <div class="input-group">
        <span class="input-group-addon" id="login-email"><i class="fa fa-user" aria-hidden="true"></i></span>
        {{input type='email' id='identification' placeholder='Email' value=identification class='form-control'}}
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="login-password"><i class="fa fa-lock" aria-hidden="true"></i></span>
        {{input id='password' placeholder='Password' type='password' value=password class='form-control'}}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>

      {{#if errorMessage}}
        <p>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
